{% extends 'base.html' %}
{% block content %}
<div class="container py-5">

<h2>Gestion des Équipes</h2>

<table class="table table-dark table-striped">
<thead>
<tr>
<th>Nom</th>
<th>Abréviation</th>
<th>Validé</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
{% for team in teams %}
<tr>
<td>{{ team.team_name }}</td>
<td>{{ team.abbreviation }}</td>
<td>{{ team.payment_validated }}</td>
<td>
<a href="{% url 'team_delete' team.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
<a href="{% url 'edit_team' team.pk %}" class="btn btn-warning btn-sm">Modifier</a>
{% if team.user %}
<a href="{% url 'edit_user_role' team.user.id %}" 
   class="btn btn-warning btn-sm">
    Gérer rôle
</a>
{% else %}
<span class="text-muted">Aucun compte lié</span>
{% endif %}
</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>

</div>
{% endblock %}